.banner {
  background-image: linear-gradient(-225deg,rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url("../../images/photo.jpg");
  color: white;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;


